In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

In [ ]:
df=pd.read_csv('Amazon Sale Report.csv')

In [ ]:
df.shape

In [ ]:
df.head()

In [ ]:
df.tail()

In [ ]:
df.info()

In [ ]:
#drop unrelated/blank columns
df.drop(['New','PendingS'], axis=1, inplace=True)

In [ ]:
df.info()

In [ ]:
pd.isnull(df) 
# checking null value

In [ ]:
pd.isnull(df).sum()
# sum will give total values of null values

In [ ]:
df.shape

In [ ]:
#drop null values
df.dropna(inplace=True)

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
# change data type
df['ship-postal-code']=df['ship-postal-code'].astype('int')

In [ ]:
#checking whether the  data type change or not
df['ship-postal-code'].dtype

In [ ]:
df['Date']=pd.to_datetime (df['Date'])

In [ ]:
df.columns

In [ ]:
#rename Columns
df.rename(columns={'Qty':'Quantity'})

In [ ]:
#describe() method return description of the data in the DataFrame(i.e count,mean,std,min..etc)
df.describe()

In [ ]:
df.describe(include='object')

In [ ]:
#use describe() for specific columns
df[['Qty','Amount']].describe()

# Exploratory Data Analysis

In [ ]:
df.columns

### size

In [ ]:
ax=sns.countplot(x='Size' ,data=df)

In [ ]:
ax=sns.countplot(x='Size' ,data=df)

for bars in ax.containers:
    ax.bar_label(bars)

#### Note: From above Graph you can see that most of the people buys M-Size

# Group By
#### The groupby() function in pandas is used to group data based on one or more columns in a DataFrame

In [ ]:
df.groupby(['Size'], as_index=False)['Qty'].sum().sort_values(by='Qty',ascending=False)

In [ ]:
S_Qty=df.groupby(['Size'], as_index=False)['Qty'].sum().sort_values(by='Qty',ascending=False)

sns.barplot(x='Size',y='Qty', data=S_Qty)

##### Note: From above Graph you can see that most of the Qty buys M-Size in the sales

### Courier Status

In [ ]:
sns.countplot(data=df, x='Courier Status',hue= 'Status')
plt.show()

##### Note: From above Graph the majority of the orders are shipped through the courier.

In [ ]:
df['Category'] = df['Category'].astype(str)
column_data = df['Category']
plt.figure(figsize=(10, 5))
plt.hist(column_data, bins=30, edgecolor='Black')
plt.xticks(rotation=90)
plt.show()

##### Note: From above Graph you can see that most of the  buyers are T-shirt

In [ ]:
# Prepare data for scatter plot
x_data = df['Category']  
y_data = df['Size'] 

# Plot the scatter plot
plt.scatter(x_data, y_data)
plt.xlabel('Category ')  
plt.ylabel('Size')  
plt.title('Scatter Plot') 
plt.show()

In [ ]:
# Plot count of cities by state
plt.figure(figsize=(12, 6))
sns.countplot(data=df, x='ship-state')
plt.xlabel('ship-state')
plt.ylabel('count')
plt.title('Distribution of State')
plt.xticks(rotation=90)
plt.show()

#### Note: From above Graph we can see that most of the  buyers are from Maharashtra state

### Conclusion

#### The data analysis reveals that the business has a significant customer base in Maharashtra state, mainly serves retailers, experiences high demand for T-shirts, and sees M-Size as the preferred choice among buyers.